.video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  display: block;
}
.video-wrap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}